/*Fonts*/
@font-face {
    font-family: 'Muli-Light';
    src: url('../fonts/Muli-Light.eot');
    src: url('../fonts/Muli-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muli-Light.woff2') format('woff2'),
        url('../fonts/Muli-Light.woff') format('woff'),
        url('../fonts/Muli-Light.ttf') format('truetype'),
        url('../fonts/Muli-Light.svg#Muli-Light') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Muli-Bold';
    src: url('../fonts/Muli-Bold.eot');
    src: url('../fonts/Muli-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muli-Bold.woff2') format('woff2'),
        url('../fonts/Muli-Bold.woff') format('woff'),
        url('../fonts/Muli-Bold.ttf') format('truetype'),
        url('../fonts/Muli-Bold.svg#Muli-Bold') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Muli-SemiBold';
    src: url('../fonts/Muli-SemiBold.eot');
    src: url('../fonts/Muli-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muli-SemiBold.woff2') format('woff2'),
        url('../fonts/Muli-SemiBold.woff') format('woff'),
        url('../fonts/Muli-SemiBold.ttf') format('truetype'),
        url('../fonts/Muli-SemiBold.svg#Muli-SemiBold') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Muli-Italic';
    src: url('../fonts/Muli-Italic.eot');
    src: url('../fonts/Muli-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muli-Italic.woff2') format('woff2'),
        url('../fonts/Muli-Italic.woff') format('woff'),
        url('../fonts/Muli-Italic.ttf') format('truetype'),
        url('../fonts/Muli-Italic.svg#Muli-Italic') format('svg');
    font-style: italic;
}

@font-face {
    font-family: 'Muli-Black';
    src: url('../fonts/Muli-Black.eot');
    src: url('../fonts/Muli-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muli-Black.woff2') format('woff2'),
        url('../fonts/Muli-Black.woff') format('woff'),
        url('../fonts/Muli-Black.ttf') format('truetype'),
        url('../fonts/Muli-Black.svg#Muli-Black') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Muli-Regular';
    src: url('../fonts/Muli-Regular.eot');
    src: url('../fonts/Muli-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muli-Regular.woff2') format('woff2'),
        url('../fonts/Muli-Regular.woff') format('woff'),
        url('../fonts/Muli-Regular.ttf') format('truetype'),
        url('../fonts/Muli-Regular.svg#Muli-Regular') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'DIN-1451-Std';
    src: url('../fonts/DINEngschriftStd.eot');
    src: url('../fonts/DINEngschriftStd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DINEngschriftStd.woff2') format('woff2'),
        url('../fonts/DINEngschriftStd.woff') format('woff'),
        url('../fonts/DINEngschriftStd.ttf') format('truetype'),
        url('../fonts/DINEngschriftStd.svg#DINEngschriftStd') format('svg');
    font-style: normal;
}

@media (min-width: 1200px){
	.container {
	    max-width: 761px;
	}
}

/*Homepage Desktop*/
body{
    line-height: 1.63;
}
*{
	font-family: "Muli-Regular";
}
p {
    color: #58595b;
}
.pre-line{
	white-space: pre-line;
}
h2 {
    font-family: "Muli-Black";
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 0;
    letter-spacing: 0.1em;
    width: 100%;
}
b{
	font-family: "Muli-Bold";
    color: #000;
}
.top-banner {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}
.buisness-tools.buisness-top{
    margin-top: 114px;
}
.top-h2{
		line-height: 1.8;
}
.banner-image{
	margin: 0 auto;
	object-fit: cover;
}
.seperator15 {
   min-height: 95px;
   width: 100%;
}
.seperator10 {
   min-height: 60px;
   width: 100%;
}
.top-banner {
    background: url(../images/banner-gradient.jpg);
    height: 114px;
    background-size: cover;
}
.window-logo {
    float: right;
    padding-right: 35px;
    padding-top: 20px;
}
.logo {
    padding-left: 35px;
    padding-top: 30px;
}
.jma-btn {
    background: url(../images/btn-solid.png);
    color: #fff;
    display: inline-block;
    margin: 0 auto;
    text-transform: uppercase;
    max-width: 210px;
    text-align: center;
    line-height: 1.3;
    padding: 14px 10px;
    font-family: "Muli-Bold" !important;
    font-size: 14px;
    border-radius: 12px;
    background-repeat: no-repeat;
    padding-top: 10px;
}
.jma-btn:hover{
	text-decoration: none;
	color: #fff;
}
.gradient-grey{
	position: relative;
}
.gradient-grey:after,	
.gradient-grey:before{	
	background: -webkit-linear-gradient(-90deg, rgba(119, 115, 115, 0.28), rgba(255, 255, 255, 0));
	background: -o-linear-gradient(-90deg, rgba(119, 115, 115, 0.28), rgba(255, 255, 255, 0));
	background: -moz-linear-gradient(-90deg, rgba(119, 115, 115, 0.28), rgba(255, 255, 255, 0));
	background: linear-gradient(-90deg, rgba(119, 115, 115, 0.28), rgba(255, 255, 255, 0));
	content: "";
	position: absolute;
	height: 100%;
	right: 0;
	width: 19%;
	z-index: 1;
	top: 0;
	pointer-events: none;
}
.gradient-grey:before{
	background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(119, 115, 115, 0.28));
	background: -o-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(119, 115, 115, 0.28));
	background: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(119, 115, 115, 0.28));
	background: linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(119, 115, 115, 0.28));
	right: auto;
}
.flip.laptop{
    padding-top: 95px;
}
.x20 {
    margin-bottom: 30px;
}
.right-specs {
    padding-left: 0;
    list-style: none;
    white-space: nowrap;
}
.right-specs li {
    margin-bottom: 15px;
    font-family: "Muli-Bold";
    font-size: 12px;
}
.right-specs li:last-child{
	margin-bottom: 0;
}
.right-specs img {
    padding-right: 8px;
}
.specs-detail a:hover {
    color: #000;
}
.specs-detail b {
    color: #000;
}
.icon-wrap {
    width: 36px !important;
    display: inline-block;
    text-align: center;
}
.specs-img {
    position: relative;
    left: -24px;
}
.testi-position,
.quote-text,
.name{
    max-width: 500px;
    margin: 0 auto;
    max-width: 500px;
    margin: 0 auto;
}
@media (min-width: 500px){
    .testi-position {
        width: 500px;
    }
}
.quote-text {
    font-size: 22px;
    font-family: "Muli-Light";
    color: #58595b;
}
.name {
    color: #58595b;
    display: block;
    width: 100%;
    margin-bottom: 0;
    font-family: "Muli-Bold";
}
.microsoft-logo {
    padding-bottom: 95px;
    padding-top: 40px;
}
.img-center {
    width: 100%;
}
.content-ul {
    padding-left: 0;
    list-style: none;
    width: 100%;
}
.model-school .content-ul {
    color: #58595b;
}
.content-ul li{
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
}
.content-ul li:before {
    content: "";
    background: url(../images/icons/arrow.png);
    width: 6px;
    height: 6px;
    display: block;
    position: absolute;
    top: 9px;
    left: 0px;
}
.download-btn {
    width: 193px;
    height: 56px;
    line-height: 56px;
    padding: 0;
}
.why-text {
    position: relative;
    margin-bottom: 60px;
}
.why-text:before {
    content: "";
    background: url(../images/icons/arrow.png);
    width: 6px;
    height: 6px;
    display: block;
    position: absolute;
    top: 9px;
    left: -13px;
}
.contact-wrapper {
    background: #808285;
    color: #fff;
}
.contact-wrapper p{
	color: #fff;
	margin-bottom: 0;
}
.contact-wrapper a{
	color: #d1d3d4;
	text-decoration: underline;
    font-family: "Muli-Italic", "Muli-Regular";
    font-style: italic;
}
.sub-head {
    font-family: "Muli-Bold";
    font-size: 16px;
    display: block;
    width: 100%;
    margin-bottom: 40px;
}
.contact-wrapper a:hover {
    color: #fff;
}
.contact-wrapper .content-ul li{
    font-family: "Muli-Bold";
}
.contact-wrapper .grey-text{
	color: #d1d3d4;
}
.form-wrap .full-input, .form-wrap textarea, .form-check {
    width: 100%;
    display: block;
    width: 434px;
    margin: 0 auto;
    font-size: 12px;
    font-family: "Muli-Italic", "Muli-Regular";
    font-style: italic;
    text-indent: 6px;
}
.form-wrap .download-btn {
    color: #fff;
    text-decoration: none;
    line-height: 56px;
}
.form-wrap .full-input {
    height: 40px;
    margin-bottom: 5px;
}
.form-wrap input[type="checkbox"] {
    margin: 0;
    margin-top: 6px;
}
.form-check-label {
    padding-left: 14px;
    color: #ccc;
    font-size: 16px;
}
.form-check {
    padding-left: 0;
}
.footer-section {
    background: #58595b;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 5px;
}
.footer-section a{
   color: #d1d3d4;
}
.footer-menu li a {
    position: relative;
}
.footer-menu li a:after {
    content: "";
    background: #d1d3d4;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
}
.footer-title {
    color: #fff;
    font-size: 12px;
    font-family: "Muli-bold";
}
.footer-menu {
    padding-right: 12px;
    padding-left: 0;
    list-style: none;
}
.footer-menu li a{
	color: #d1d3d4;
	font-size: 12px;
    display: initial;
}
.second-footer-title {
    padding-top: 20px;
    margin-bottom: 8px;
}
.return-btn {
    color: #58595b;
    font-size: 16px;
    text-decoration: none;
    position: absolute;
    top: 30px;
    left: 40px;
}
.return-btn:hover{
	color: rgba(0, 0, 0, 0.8);
	text-decoration: none;
}
.arrow-red {
    font-family: "Muli-Italic", "Muli-Regular";
    font-style: italic;
    color: #ed1c24;
}
.copyright {
    background: rgba(0, 0, 0, 0.92);
}
.copyright p {
    color: #fff;
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    font-size: 11px;
    color: #bcbec0;
    padding: 27px 0;
}
.different-challanges .content-ul{
    color: #58595b;
}
.specs-detail a {
    color: #58595b;
    font-family: "Muli-Italic", "Muli-Regular";
    font-style: italic;
    text-decoration: underline;
    white-space: nowrap;
}
.footer-menu li a:hover {
    color: #fff;
}
.mobile-only {
    display: none;
}
.menu-right {
    padding-right: 0;
}
input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}
.return-btn:hover {
    text-decoration: underline;
}
input[type=checkbox] {
  display: none;
}
.form-check {
    font-style: normal;
}
input[type=checkbox] + label:before {
  content: "\2714";
  background: #fff;
  border-radius: 0.2em;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
  position: absolute;
  left: 0px;
  top: 4px;
  line-height: 1.3;
}

/*input[type=checkbox] + label:active:before {
  transform: scale(0);
}*/

input[type=checkbox]:checked + label:before {
  color: #000;
  background: #fff;
  text-indent: 2px;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}
label.form-check-label {
    padding-left: 25px !important;
    padding-top: 0 !important;
    text-indent: 0;
}
.paragraph-sml-gap {
    display: block;
    height: 12px;
}
sup {
    font-family: "Muli-Bold";
}
.gradient-top-spacing {
    padding-top: 95px;
}
.footer-menu li a.mobile-only {
    display: none;
}
.why-text a {
    color: #58595b;
    text-decoration: underline;
}
.why-text a:hover{
    color: #000;
}
@media (max-width: 992px){
    .hide-mbl{
        display: none;
    }
    .why-devices .desktop-only {
        display: block;
    }
    .footer-menu li a.mobile-only {
        display: inline-block;
    }
}
@media (max-width: 768px){
    .window-logo {
        max-width: 250px;
    }
    .specs-img {
        top: 0 !important;
    }
    .book-order {
        text-align: left !important;
        padding-bottom: 20px;
    }
    .tablet-half{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .flip.laptop .banner-image {
        margin-bottom: 20px;
    }
}
@media (max-width: 480px){
    .tablet-half,
    .book-order,
    .book-desc{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .why-devices .desktop-only {
        display: none;
    }
    .gradient-top-spacing {
        padding-top: 0px;
    }
	.gradient-grey:after,	
	.gradient-grey:before{
		background: -webkit-linear-gradient(-90deg, rgba(119, 115, 115, 0.2), rgba(255, 255, 255, 0));
		background: -o-linear-gradient(-90deg, rgba(119, 115, 115, 0.2), rgba(255, 255, 255, 0));
		background: -moz-linear-gradient(-90deg, rgba(119, 115, 115, 0.2), rgba(255, 255, 255, 0));
		background: linear-gradient(-90deg, rgba(119, 115, 115, 0.2), rgba(255, 255, 255, 0));
		content: "";
		position: absolute;
		height: 100%;
		right: 0;
		width: 12%;
		z-index: 1;
		top: 0;
		pointer-events: none;
	}
	.gradient-grey:before{
		background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(119, 115, 115, 0.44));
		background: -o-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(119, 115, 115, 0.44));
		background: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(119, 115, 115, 0.44));
		background: linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(119, 115, 115, 0.44));
		right: auto;
	}
	.seperator10 {
	    min-height: 45px;
	}
	h2,
	.pre-line {
	    padding: 20px;
	}
	p,ul {
	    padding: 0 20px;
	}
	.logo {
	    padding: 0;
	    max-width: 110px;
	    height: 28px;
	}

	.window-logo {
	    padding: 0;
	    max-width: 120px;
	    float: right;
	    height: 28px;
	}

	.top-banner {
	    height: 48px;
	    padding: 10px;
	}
	.return-btn {
	    position: relative;
	    left: 12px;
	}
	.return-btn {
	    position: relative;
	    left: 12px;
	    top: 15px;
	}
	.form-wrap .full-input, .form-wrap textarea, .form-check {
	    width: 100%;
	}
	.buisness-tools, .flip.laptop {
	    padding-top: 0;
	}
	.top-h2{
		line-height: 1.4;
	}
	.hide-mbl{
		display: none;
	}
	.specs-img {
	    margin: 0 auto;
	    display: block;
	}
	.right-specs {
	    padding-left: 50px;
	}
	.seperator15 {
	    min-height: 60px;
	}
	.x20 ,
	.x15 {
	    position: relative;
	    left: -15px;
	}
	.specs-img {
	    top: 0 !important;
	}	
	.jma-btn {
	    margin-top: 35px;
	}
	.object-contain{
		object-fit: contain;
        object-position: center center;
	}
	.quote-text,
	.name,
	.testi-position{
	    padding: 0px 40px;
	}
	.testi-position{
		font-size: 14px;
		padding-top: 5px;
	}
	.microsoft-logo {
	    padding-bottom: 65px;
	}
	.prepare-students p {
	    padding: 0px 20px;
	}
	.content-ul {
    	padding-left: 20px;
	}
	.book-order {
	    -webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	    order: 2;
	    text-align: center !important;
	}
	.book-desc {
	    padding: 0 !important;
	}
	.jma-btn.download-btn {
	    margin-top: 28px;
	}
	.seperator10.headache-sep {
	    min-height: 22px;
	}
	.why-devices h2{
		padding-top: 8px;
	}
	.sub-head {
	    padding-left: 20px;
	}
	.contact-wrapper a {
	    padding-left: 0px;
	    width: 100%;
	    white-space: nowrap;
	}
	.content-ul {
	    margin-bottom: 40px;
	}
    .model-school .content-ul {
        margin-bottom: 10px;
    }
	.sub-head.second-sub {
	    padding-top: 25px !important;
	}
	.rather-head {
	    margin-bottom: 25px;
	}
	.form-check {
	    max-width: 90%;
	    margin: 0 auto;
	}
	.footer-title {
	    padding-left: 0;
	}
    
    /*accordion*/
    .mobile-only .why-text {
        margin-bottom: 0;
        padding: 0px 10px;
        padding-top: 25px;
    }
    .why-text-collapse.show{
        padding-bottom: 20px;
    }
    .mobile-only b{
        margin-bottom: 0;
        padding: 0px 10px;
        display: inline-block;
        position: relative;
        padding-top: 20px;
        border-top: 1px solid #ccc;
        /*border-image: url(../images/gradient.png) round;*/
        border-image-slice: 100;
        border-image-repeat: repeat;
        margin-top: 15px;
    }
    .mobile-only  .why-text:before{
        display: none;
    }
    .mobile-only b:before{
        content: "";
        background: url(../images/icons/arrow.png);
        width: 6px;
        height: 6px;
        display: block;
        position: absolute;
        top: 29px;
        left: -2px;
    }
    .toggle-accor {
        font-family: "Muli-Italic", "Muli-Regular";
        font-style: italic;
        font-size: 16px;
        display: inline-block;
        width: 56px;
        height: 24px;
        position: relative;
        left: 10px;
        cursor: pointer;
        font-family: "Muli-Italic", "Muli-Regular";
        font-style: italic;
    }
    .toggle-accor[aria-expanded="true"]:before {
        content: "Close";
        font-family: "Muli-Italic", "Muli-Regular";
        font-style: italic;
    }
    .toggle-accor[aria-expanded="true"]:after {
        content: "^";
        color: #ed1c24;
        position: relative;
        left: 3px;
        top: 3px;
        font-size: 18px;
        font-family: "Muli-Bold";
    }
     .toggle-accor[aria-expanded="false"]:before {
        content: "Expand";
        font-family: "Muli-Italic", "Muli-Regular";
        font-style: italic;
    }
    .toggle-accor[aria-expanded="false"]:after {
      content: "^";
      color: #ed1c24;
      transform: rotate(180deg);
      display: inline-block;
      right: -15px;
      top: -1px;
      font-size: 18px;
      font-family: "Muli-Bold";
      position: absolute;
      }
      .last-accordion {
          margin-bottom: 20px;
      }
    .mobile-only {
        display: block;
    }
    .buisness-tools.buisness-top{
        margin-top: 48px;
    }
    .grey-text {
        color: #ccc;
        padding-left: 0;
    }
    .contact-h2{
        padding: 20px 12px;
    }
}

